.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   width: 1980px;
   height: 400px;
}
.first-name{
    padding: 40px;
    width: 300px;
    text-transform: uppercase;
    line-height: 2;
    font-size: 3rem;
    font-weight: 800;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.photo{
    background-image: url(/img/photo_2021-09-10_15-09-48.jpg);
    height: 400px;
    width: 300px;
}
