.first{
height: 100vh;
min-height: 600px;
	background-image: url("../../img/firstBg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
color: var(--white-color);

}
.first_container{
	position: relative;
	height: 100%;
	 padding-top: 223px;
	 padding-bottom: 200px;
}
.first_link{
background-color: rgb(28, 46, 61, 0.4);
	font-family: SfPro;
	font-weight: 800;
font-size: 11px;
line-height: 13px;
letter-spacing: 2px;
padding: 15px 30px;
border-radius: 100px;
text-transform: uppercase;
display: inline-block;
margin-bottom: 43px;
}
.firstTitle{
	font-size: 80px;
	font-weight: 700;
line-height: 84px;
max-width: 40%;
margin-bottom:42px;

}
.firstDscrb{
font-family: SfPro, sans-serif;
	font-weight: 400;
	font-size: 14px;
	max-width: 31%;
	line-height: 18px;
	margin-bottom: 53px;
}
.firstBtn{
	font-size: 13px;
	font-weight: 800;
	line-height: 14px;
		letter-spacing: 2.2px;
color: var(--white-color);
text-transform: uppercase;
background-color: var(--akcent-color);
padding: 33px 82px;
border-radius: 8px;
}
.first-bottom{
	position: absolute;
	left: 30px;

	bottom: 0;
	width: calc(100% - 60px);
	display: flex;
	align-items: flex-end;
}
 .search-form{
	flex-shrink: 0;
	width: 68%;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 4px;
	height: 120px;


}
.serch-form_field{
	border: none;
	background-color: #fff;
	width: 100%;
	height: 100%;
	color: black;
	padding-left: 59px;
	padding-right: 95px;
}
.searchFormButton{
	position: absolute;
width: 18px;
height: 18px;
right: 65px;
top: 50%;
transform: translateY(-50%);
background-image: url(../../img/searchBtn.svg);
position: absolute;
background-repeat: no-repeat;
background-size: cover;

}

.mainSlider{
	overflow: hidden;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
font-size: 0px;
}
.mainSliderText{
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
background-color: var(--neptune-color);
text-transform: uppercase;
color: var(--white-color);
font-size: 12px;
line-height: 14px;
text-align: center;
letter-spacing: 2.18182px;
}

@media(max-height: 1079px){
	.first_container{
		padding: 120px 30px;

	}
}
@media(max-height: 850px){
	.first_container{
		padding: 100px 30px;

	}
	.first_link{
		margin-bottom: 30px;
	}
	.firstTitle{
		font-size: 55px;
		line-height: 65px;
	}
}
@media(max-height: 760px){
.search-form{
	height: 70px;

}
.mainSliderText{
	height: 70px;

}
.firstTitle{
	font-size: 60px;
	line-height: 65px;
	margin-bottom: 20px;
}
.firstDscrb{
	font-size: 12px;
	margin-bottom: 20px;
}
.firstBtn{
	font-size: 10px;
	font-weight: 600;
	line-height: 12px;
		letter-spacing: 2px;
color: var(--white-color);
text-transform: uppercase;
background-color: var(--akcent-color);
padding: 25px 60px;
border-radius: 8px;
}
.firstTitle{
	font-size: 45px;
	line-height: 45px;
}


